/* styles.css */
.sunny-color {
    color: #fddf1c;
}

.showers-color {
    color: #6c757d;
}

flooding-color {
    color: #007bff;
}

cloudy-color {
    color: #808793;
}

nighttime-color {
    color: #000000;
}
